In [24]:
#TUR
#Veri Seti hikayesi :
#Amazon ürün verilerini içeren bu veri seti ürün kategorileri ile çeşitli metadatalarıiçermektedir. Elektronik kategorisindeki en fazla yorum alan ürünün kullanıcı puanları ve yorumları vardır

#ENG
#Story of Dataset
#This dataset, which includes Amazon product data, includes product categories and various metadata. The product with the most reviews in the electronics category has user ratings and reviews

In [25]:
#Importing Libraries
import pandas as pd 
import math 
import scipy.stats as st
import numpy as np
from sklearn.preprocessing import MinMaxScaler
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [26]:
#ENG
#Reading the dataset
#TUR 
#Veri Setinin okunması
df = pd.read_csv("amazon_review.csv")

In [27]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime  reviewTime  day_diff  helpful_yes  total_vote
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600  2014-07-23       138            0           0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800  2012-12-23       715            0           0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600  2013-07-13       513            0           0

In [28]:
#ENG
#Check for shape of dataset
#TUR
#Veri setinin şekil kontrolü, değişken sayısı ve satır sayısı...
df.shape

(4915, 12)

In [29]:
#ENG 
#Check if there is null value in columns
#TUR
#Değişkenlerde boş değer var mı yok mu kontrol ediyoruz
df.isnull().sum()

reviewerID        0
asin              0
reviewerName      1
helpful           0
reviewText        1
overall           0
summary           0
unixReviewTime    0
reviewTime        0
day_diff          0
helpful_yes       0
total_vote        0
dtype: int64

In [30]:
df.describe().T

                    count             mean            std              min              25%              50%              75%              max
overall        4915.00000          4.58759        0.99685          1.00000          5.00000          5.00000          5.00000          5.00000
unixReviewTime 4915.00000 1379465001.66836 15818574.32275 1339200000.00000 1365897600.00000 1381276800.00000 1392163200.00000 1406073600.00000
day_diff       4915.00000        437.36704      209.43987          1.00000        281.00000        431.00000        601.00000       1064.00000
helpful_yes    4915.00000          1.31109       41.61916          0.00000          0.00000          0.00000          0.00000       1952.00000
total_vote     4915.00000          1.52146       44.12309          0.00000          0.00000          0.00000          0.00000       2020.00000

In [31]:
#Calculation of avg overall: 
df["overall"].mean()

4.587589013224822

In [32]:
#Some changes to the reviewTime variable.

In [33]:
df = df.rename(columns = {'reviewTime': 'review_time'} )

In [34]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime review_time  day_diff  helpful_yes  total_vote
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600  2014-07-23       138            0           0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800  2012-12-23       715            0           0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600  2013-07-13       513            0           0

In [35]:
df["review_time"] = pd.to_datetime(df["review_time"])

In [36]:
df.dtypes

reviewerID                object
asin                      object
reviewerName              object
helpful                   object
reviewText                object
overall                  float64
summary                   object
unixReviewTime             int64
review_time       datetime64[ns]
day_diff                   int64
helpful_yes                int64
total_vote                 int64
dtype: object

In [37]:
#ENG 
#Take the maximum value of review_time as Current Date

#TUR
#Bugünün tarihini review_time'ın maximum değeriyle aldık.
current_date = df["review_time"].max()

In [38]:
current_date

Timestamp('2014-12-07 00:00:00')

In [39]:
#ENG
#Creating diff_Time variable
#TUR
# diff_time değişkeninin oluşturulması.
df["diff_time"] = (current_date-df["review_time"]).dt.days

In [40]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime review_time  day_diff  helpful_yes  total_vote  diff_time
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600  2014-07-23       138            0           0        137
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0        408
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800  2012-12-23       715            0           0        714
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0        381
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600  2013-07-13       513            0           0        512

In [41]:
#ENG
# Defining a function for make quartiles of diff_time value of dataset

#TUR
#diff_time değişkeninin çeyreklik değerlerini yakalamak için bir fonksiyon tanımlıyoruz
def make_quartiles(dataframe, lst = [.25,.5,.75], quart_value = "diff_time"):
    quartiless = dataframe[quart_value].quantile(lst)
    return quartiless

In [42]:
#ENG
#We analyze by weighting the quarters we find with the time-weighted average.
#TUR
#Zaman ağırlıklı ortalama ile bulduğumuz çeyreklikleri ağırlaştırarak analiz yapıyoruz.ve bunun için bir fonksiyon tanımlıyoruz
def time_based_weighted_average(dataframe, w1 =28, w2 = 26, w3 = 24, w4 = 22):
    tbwa = dataframe.loc[df["diff_time"] <= 280, "overall"].mean() * w1/100 + \
           dataframe.loc[(df["diff_time"] > 280) & (df["diff_time"] <= 430), "overall"].mean() * w2/100 + \
           dataframe.loc[(df["diff_time"] > 430) & (df["diff_time"] <= 600), "overall"].mean() * w3/100 + \
           dataframe.loc[df["diff_time"] > 600, "overall"].mean() * w4/100 
    print(f"Time Based Weighted Average is {tbwa}")

In [43]:
time_based_weighted_average(df)

Time Based Weighted Average is 4.595593165128118

In [44]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime review_time  day_diff  helpful_yes  total_vote  diff_time
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600  2014-07-23       138            0           0        137
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0        408
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800  2012-12-23       715            0           0        714
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0        381
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600  2013-07-13       513            0           0        512

In [45]:
#ENG
#I create a function to capture weighted and weighted average values for each quarter.
#TUR
#Her bir çeyreklik için ağırlaştırılmış ve ağırlaştırılmamış ortalama değerleri yakalamak için bir fonksiyon yaratıyorum.
def time_based_weighted_average_each(dataframe,lst = [.25,.5,.75],quart_value = "diff_time",w1 =28, w2 = 26, w3 = 24, w4 = 22):
    
    quartiless = dataframe[quart_value].quantile(lst)
    return quartiless
    
    q1_weighted = dataframe.loc[df["diff_time"] <= quartiless[0.25], "overall"].mean() * w1/100
    q2_weighted = dataframe.loc[(df["diff_time"] > quartiless[0.25]) & (df["diff_time"] <= quartiless[0.50]), "overall"].mean() * w2 / 100
    q3_weighted = dataframe.loc[(df["diff_time"] > quartiless[0.50]) & (df["diff_time"] <= quartiless[0.75]), "overall"].mean() * w3 / 100
    q4_weighted = dataframe.loc[df["diff_time"] > quartiless[0.75], "overall"].mean()* w4/100
    
    q1_unweighted = dataframe.loc[df["diff_time"] <= quartiless[0.25], "overall"].mean() 
    q2_unweighted = dataframe.loc[(df["diff_time"] > quartiless[0.25]) & (df["diff_time"] <= quartiless[0.50]), "overall"].mean() 
    q3_unweighted = dataframe.loc[(df["diff_time"] > quartiless[0.50]) & (df["diff_time"] <= quartiless[0.75]), "overall"].mean() 
    q4_unweighted = dataframe.loc[df["diff_time"] > quartiless[0.75], "overall"].mean()
    
    print(" Weighted Values ".center(60, "*"))
    print(60*" ")
    print(f"Quartile_1 mean with weighted value is {q1_weighted}")
    print(f"Quartile_2 mean with weighted value is {q2_weighted}")
    print(f"Quartile_3 mean with weighted value is {q3_weighted}")
    print(f"Quartile_4 mean with weighted value is {q4_weighted}")
    print(60*" ")
    print(" Unweighted Values ".center(60, "*"))
    print(60*" ")
    print(f"Quartile_1 mean with unweighted value is {q1_unweighted}")
    print(f"Quartile_2 mean with unweighted value is {q2_unweighted}")
    print(f"Quartile_3 mean with unweighted value is {q3_unweighted}")
    print(f"Quartile_4 mean with unweighted value is {q4_unweighted}")

In [46]:
time_based_weighted_average_each(df)

0.25000   280.00000
0.50000   430.00000
0.75000   600.00000
Name: diff_time, dtype: float64

In [47]:
#ENG 
#Considering the predominantly average score of the quarter, it was observed that customers who commented on a more recent date in terms of days gave higher scores.
#While creating the weight system, the weight system has been applied in a decreasing way from the recent past to the distant date.
#It has been observed that this situation occurs in the same way in the data without the weight system applied.

#TUR 
#Yorumlama : 4 Çeyreğin ağırlıklı olarak puan ortalamalarına bakıldığında gün olarak daha yakın tarihte yorum yapan müşterilerin daha yüksek puan verdiği gözlemlenmiştir. 
#Ağırlık sistemi yaratılırken, yakın tarihten uzak tarihe doğru azalan bir şekilde ağırlık sistemi uygulanmıştır. 
#Ağırlık sistemi uygulanmamış verilerde de bu durumun aynı şekilde gerçekleştiği gözlemlenmiştir.

In [48]:
#ENG
#creating of helpful_no variable
#TUR 
#helpful_no değişkeninin oluşturulması
df["helpful_no"] = df["total_vote"] - df["helpful_yes"]

In [49]:
#ENG
#creating of score_pos_neg_diff variable
#TUR
#score_pos_neg_diff değişkeninin oluşturulması
def score_pos_neg_diff(pos,neg):
    return pos-neg

df["score_pos_neg_diff"] = df.apply(lambda t: score_pos_neg_diff(t["helpful_yes"],t["helpful_no"]), axis = 1)

In [50]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime review_time  day_diff  helpful_yes  total_vote  diff_time  helpful_no  score_pos_neg_diff
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600  2014-07-23       138            0           0        137           0                   0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0        408           0                   0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800  2012-12-23       715            0           0        714           0                   0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0        381           0                   0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600  2013-07-13       513            0           0        512           0                   0

In [51]:
#ENG
#creating of score_average_rating function
#TUR
#score_average_rating fonksiyonunun oluşturulması
def score_average_rating(pos,neg):
    if pos+neg == 0:
        return 0
    return pos / (pos+neg)

In [52]:
#ENG
#creating of score_average_rating column
#TUR
#score_average_rating  oluşturulması
df["score_average_rating"] = df.apply(lambda x: score_average_rating(x["helpful_yes"],x["helpful_no"]),axis = 1)

In [53]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime review_time  day_diff  helpful_yes  total_vote  diff_time  helpful_no  score_pos_neg_diff  score_average_rating
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600  2014-07-23       138            0           0        137           0                   0               0.00000
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0        408           0                   0               0.00000
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800  2012-12-23       715            0           0        714           0                   0               0.00000
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0        381           0                   0               0.00000
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600  2013-07-13       513            0           0        512           0                   0               0.00000

In [54]:
#ENG
#We defined a function named Wilson_lower_bound
#TUR
#Wilson_lower_bound adında bir fonksiyon tanımladık
def wilson_lower_bound(pos,neg,confidence = 0.95):
    n = pos + neg
    if n == 0:
        return 0
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    phat = 1.0 * pos / n
    return (phat + z * z / (2 * n) - z * math.sqrt((phat * (1 - phat) + z * z / (4 * n)) / n)) / (1 + z * z / n)

In [55]:
#ENG
#We defined a column named Wilson_lower_bound and applied the function in it.

#TUR
#Wilson_lower_bound adında bir kolon tanımlayıp içerisinde fonksiyonu uyguladık.
df["wilson_lower_bound"] = df.apply(lambda x: wilson_lower_bound(x["helpful_yes"],x["helpful_no"]),axis = 1)

In [56]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime review_time  day_diff  helpful_yes  total_vote  diff_time  helpful_no  score_pos_neg_diff  score_average_rating  wilson_lower_bound
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600  2014-07-23       138            0           0        137           0                   0               0.00000             0.00000
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0        408           0                   0               0.00000             0.00000
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800  2012-12-23       715            0           0        714           0                   0               0.00000             0.00000
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0        381           0                   0               0.00000             0.00000
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600  2013-07-13       513            0           0        512           0                   0               0.00000             0.00000

In [57]:
#ENG
#We ranked the reviews with Wilson_lower_bound and viewed the first 20 reviews.
#TUR
#Wilson_lower_bound ile reviewleri sıralayıp ilk 20 review'i görüntüledik.
df.sort_values("wilson_lower_bound", ascending = False).head(20)

          reviewerID        asin                          reviewerName       helpful                                         reviewText  overall                                            summary  unixReviewTime review_time  day_diff  helpful_yes  total_vote  diff_time  helpful_no  score_pos_neg_diff  score_average_rating  wilson_lower_bound
2031  A12B7ZMXFI6IXY  B007WTAJTO                  Hyoun Kim "Faluzure"  [1952, 2020]  [[ UPDATE - 6/19/2014 ]]So my lovely wife boug...  5.00000  UPDATED - Great w/ Galaxy S4 & Galaxy Tab 4 10...      1367366400  2013-01-05       702         1952        2020        701          68                1884               0.96634             0.95754
3449   AOEAD7DPLZE53  B007WTAJTO                     NLee the Engineer  [1428, 1505]  I have tested dozens of SDHC and micro-SDHC ca...  5.00000  Top of the class among all (budget-priced) mic...      1348617600  2012-09-26       803         1428        1505        802          77                1351               0.94884             0.93652
4212   AVBMZZAFEKO58  B007WTAJTO                           SkincareCEO  [1568, 1694]  NOTE:  please read the last update (scroll to ...  1.00000  1 Star reviews - Micro SDXC card unmounts itse...      1375660800  2013-05-08       579         1568        1694        578         126                1442               0.92562             0.91214
317   A1ZQAQFYSXL5MQ  B007WTAJTO               Amazon Customer "Kelly"    [422, 495]  If your card gets hot enough to be painful, it...  1.00000                                Warning, read this!      1346544000  2012-02-09      1033          422         495       1032          73                 349               0.85253             0.81858
4672  A2DKQQIZ793AV5  B007WTAJTO                               Twister      [45, 49]  Sandisk announcement of the first 128GB micro ...  5.00000  Super high capacity!!!  Excellent price (on Am...      1394150400  2014-07-03       158           45          49        157           4                  41               0.91837             0.80811
1835  A1J6VSUM80UAF8  B007WTAJTO                           goconfigure      [60, 68]  Bought from BestBuy online the day it was anno...  5.00000                                           I own it      1393545600  2014-02-28       283           60          68        282           8                  52               0.88235             0.78465
3981  A1K91XXQ6ZEBQR  B007WTAJTO            R. Sutton, Jr. "RWSynergy"    [112, 139]  The last few days I have been diligently shopp...  5.00000  Resolving confusion between "Mobile Ultra" and...      1350864000  2012-10-22       777          112         139        776          27                  85               0.80576             0.73214
3807   AFGRMORWY2QNX  B007WTAJTO                            R. Heisler      [22, 25]  I bought this card to replace a lost 16 gig in...  3.00000   Good buy for the money but wait, I had an issue!      1361923200  2013-02-27       649           22          25        648           3                  19               0.88000             0.70044
4306   AOHXKM5URSKAB  B007WTAJTO                         Stellar Eller      [51, 65]  While I got this card as a "deal of the day" o...  5.00000                                      Awesome Card!      1339200000  2012-09-06       823           51          65        822          14                  37               0.78462             0.67033
4596  A1WTQUOQ4WG9AI  B007WTAJTO           Tom Henriksen "Doggy Diner"     [82, 109]  Hi:I ordered two card and they arrived the nex...  1.00000     Designed incompatibility/Don't support SanDisk      1348272000  2012-09-22       807           82         109        806          27                  55               0.75229             0.66359
315   A2J26NNQX6WKAU  B007WTAJTO            Amazon Customer "johncrea"      [38, 48]  Bought this card to use with my Samsung Galaxy...  5.00000  Samsung Galaxy Tab2 works with this card if re...      1344816000  2012-08-13       847           38          48        846          10                  28               0.79167             0.65741
1465   A6I8KXYK24RTB  B007WTAJTO                              D. Stein        [7, 7]  I for one have not bought into Google's, or an...  4.00000                                           Finally.      1397433600  2014-04-14       238            7           7        237           0                   7               1.00000             0.64567
1609  A2TPXOZSU1DACQ  B007WTAJTO                                Eskimo        [7, 7]  I have always been a sandisk guy.  This cards ...  5.00000                  Bet you wish you had one of these      1395792000  2014-03-26       257            7           7        256           0                   7               1.00000             0.64567
4302  A2EL2GWJ9T0DWY  B007WTAJTO                             Stayeraug      [14, 16]  So I got this SD specifically for my GoPro Bla...  5.00000                        Perfect with GoPro Black 3+      1395360000  2014-03-21       262           14          16        261           2                  12               0.87500             0.63977
4072  A22GOZTFA02O2F  B007WTAJTO                           sb21 "sb21"        [6, 6]  I used this for my Samsung Galaxy Tab 2 7.0 . ...  5.00000               Used for my Samsung Galaxy Tab 2 7.0      1347321600  2012-11-09       759            6           6        758           0                   6               1.00000             0.60967
1072  A2O96COBMVY9C4  B007WTAJTO                        Crysis Complex        [5, 5]  What more can I say? The 64GB micro SD works f...  5.00000               Works wonders for the Galaxy Note 2!      1349395200  2012-05-10       942            5           5        941           0                   5               1.00000             0.56552
2583  A3MEPYZVTAV90W  B007WTAJTO                               J. Wong        [5, 5]  I bought this Class 10 SD card for my GoPro 3 ...  5.00000                  Works Great with a GoPro 3 Black!      1370649600  2013-08-06       489            5           5        488           0                   5               1.00000             0.56552
121   A2Z4VVF1NTJWPB  B007WTAJTO                                A. Lee        [5, 5]  Update: providing an update with regard to San...  5.00000                     ready for use on the Galaxy S3      1346803200  2012-05-09       943            5           5        942           0                   5               1.00000             0.56552
1142  A1PLHPPAJ5MUXG  B007WTAJTO  Daniel Pham(Danpham_X @ yahoo.  com)        [5, 5]  As soon as I saw that this card was announced ...  5.00000                          Great large capacity card      1396396800  2014-02-04       307            5           5        306           0                   5               1.00000             0.56552
1753   ALPLKR59QMBUX  B007WTAJTO                             G. Becker        [5, 5]  Puchased this card right after I received my S...  5.00000                    Use Nothing Other Than the Best      1350864000  2012-10-22       777            5           5        776           0                   5               1.00000             0.56552

In [58]:
#ENG
#Looking at the ranks, the first 20 reviews were received according to wilson_lower_bound. Numbers, distributions and bernoulli of positive and negative comments in Wilson_Lower_bound
#We took the lower limit of the p value as probability. There is no change in overall, both low overalls and high overalls are in the top 20.
#Despite being negative comments, they rose to the top of the rankings because they were explanatory in terms of social proof and satisfying in terms of information.
#score_average_rating did not exactly affect the wlb value. While a value such as 0.95 was observed in the first value, values such as 1.000 were observed in the lower ranks.

#TUR
#Yorum : 
#Sıralamalara bakıldığında wilson_lower_bound'a göre ilk 20 review alınmıştır. Wilson_Lower_bound içerisinde positif ve negatif yorumların sayıları, dağılımları ve bernoulli
#olasılığında p değerinin alt limitini değer olarak aldık. Overall açısından herhangi bir değişiklik yoktur, düşük overallar da yüksek overaller da ilk 20 içerisinde yer almaktadır.
#Negatif yorum olmalarına rağmen sosyal kanıt açısından açıklayıcı oldukları ve bilgi açısından doyurucu oldukları için sıralamada üst sıralara yükselmişlerdir. 
#score_average_rating birebir şekilde wlb değerini etkilememiştir. birinci olan değerde 0.95 gibi bir değer gözlenirken alt sıralarda 1.000 gibi değerler gözlemlenmiştir